<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title || "FizzBuzz App" %></title> <%#need to be instance variable %>
    <link rel="stylesheet" type="text/css" href="style.css"> 
  </head>
  <body>
    <%= yield %>
  </body>
</html>
